*.http
*.zip
animation/
Practice/
.history

https://mystifying-cray-a2e8a7.netlify.app/a1-cars/
https://mystifying-cray-a2e8a7.netlify.app/a1-cereals/
https://mystifying-cray-a2e8a7.netlify.app/a1-grocerystore/
https://mystifying-cray-a2e8a7.netlify.app/a1-worlpopulation/